<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>
<body>

    <div class="navigation">
        <a href="/">home</a>
        <br>
        <a href="/blog">view blogs</a>
        <br>
        <a href="/newpost">new blog</a>
        <br>
        <a href="/login">log in</a>
        <br>
        <a href="/logout">log out</a>
        <br>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>