{% extends "base.html" %}

{%block content%}
    <form method="POST">
        <br>
        <l>username:</l>
        <br>
        <input type="text" name="username">
        {{username_error}}
        <br>
        <l>password:</l>
        <br>
        <input type="text" name="password">
        {{password_error}}
        <br>
        <input type="submit" value="Submit">
        <br>
        <br>
    </form>
    <form action="/signup" method="GET">
        <input type="submit" value="Create Account">
    </form>
{% endblock %}